/*=========universal==========*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre, 
form,fieldset,input,textarea,p,blockquote,th,td { 
    padding: 0; 
    margin: 0; 
    font-size:12px;
    font-family:Arial;
    word-wrap:break-word;
} 

html{
    overflow-y: scroll;
}

body{
    padding-top: 60px;
    background-color: #F6F6F1;
}

h1,h2,h3,h4,h5,h6 { 
    font-weight: normal; 
    font-size: 100%; 
} 

p {
    text-indent: 2em;
}

ol,ul {
    list-style: none;
}

section{
    overflow: auto;
}

textarea{
    resize: vertical;
}

.mb5{
  margin-bottom:5px;
}

/*===========header=======*/

.navbar-text .pull-right {
    float: none;
    padding-left: 5px;
    padding-right: 5px;
}

#logo {
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
    line-height: 1;
}

/*============index========*/


.form-signin, .form-signup{
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"],
.form-signup input[type="text"],
.form-signup input[type="password"]{
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}

.container-home-about{
    border: 1px solid #e5e5e5;
}

/*=========bookinfo=========*/

div.content{
    /*width:660px;*/
    /*float:left;*/
    /*margin-left: 180px;*/
}

div.sidebar{
    /*width:270px;*/
    /*float:right;*/
    /*margin-right: 180px;*/
}

.content_box{
    background: #ffffff;
    margin: 0 auto 20px;
    padding: 15px;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

div.content_box h3 {
    font-size: 14px;
    font-weight: bold;
    margin-top:-10px;
}

.bookBox {
    padding: 5px;
    position: relative;
}

.bookBox_cover {
    width: 100px;
    height: 145px;
    float: left;
}

.bookBox_info {
    width: 450px;
    padding-bottom: 10px;
    padding-right: 40px;
    margin-bottom: 16px;
    position: relative;
    z-index: 10;
    float: right;
}

.bookBox_info h3 {
    color: #227CA2;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
    width: 260px;
}

.content_box ul {
    color: #666;
    line-height: 24px;
    width: 260px;
}

.bookBox_count {
    position: absolute;
    top: 15px;
    right: 0px;
}

.bookBox_count span {
    border-left: 1px solid #E0E0E0;
    float: left;
    margin-left: 5px;
    padding-left: 5px;
    position: relative;
    width: 50px;
    text-align: center;
    color: #666;
}

.bookBox_count span label {
    color: #4C4C4C;
    /*display: inline-block;*/
    font-size: 20px;
    margin-top: 3px;
}

.book_summary{
    margin-top:20px; 
    padding:0 15px; 
}

.summary{
    line-height:20px; 
    margin-bottom:10px;
    color: #666;
}
