<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">


	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName"
			value="com.mysql.jdbc.Driver">
		</property>
		<property name="url"
			value="jdbc:mysql://localhost:3306/driftlibrary">
		</property>
		<property name="username" value="root"></property>
		<property name="password" value="zsq001"></property>
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>com/team512/model/User.hbm.xml</value>
				<value>com/team512/model/Book.hbm.xml</value></list>
		</property></bean>
	<bean id="UserDAO" class="com.team512.dao.UserDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="loginAction" class="com.team512.action.LoginAction">
	<property name="userDAO">
	<ref bean="UserDAO"></ref>
	</property>
	</bean>
	<bean id="registerAction" class="com.team512.action.RegisterAction">
	<property name="userDAO">
	<ref bean="UserDAO"></ref>
	</property>
	</bean>
	<bean id="PageShowService" class="com.team512.service.PageShowService">
	<property name="bookDAO">
	<ref bean="BookDAO"></ref>
	</property>
	</bean>
	<bean id="listBook" class="com.team512.action.ListBook">
	<property name="pageShowService">
	<ref bean="PageShowService"></ref>
	</property>
	</bean>
	<bean id="BookDAO" class="com.team512.dao.BookDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="query" class="com.team512.action.SearchAction">
	<property name="pageShowService">
	<ref bean="PageShowService"></ref>
	</property>
	</bean>
	<bean id="randAction" class="com.team512.action.RandomAction">
	</bean>
	<bean id="addBook" class="com.team512.action.AddBookAction">
	<property name="bookDAO">
	<ref bean="BookDAO"></ref>
	</property>
	</bean>
	</beans>